.popup-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 700px; /* Podesi širinu kontejnera po potrebi */
    text-align: center;
}

.form-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%; /* Podesi širinu za dva polja u redu */
    text-align: left;
}

.large-field {
    width: 100%;
}

.input-label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #555;
}

.input-field {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.radio-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-options {
    display: flex;
    align-items: center;
    gap: 30px;
    padding:5px;
    margin-top: 5px;
}

.add-button {
    background-color: #00FF40; /* Zelena boja iz heks koda */
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}